.event_actif
{
	background-color:#a4dc94; 
}

.event_supp
{
	background-color:#f38674; 

}

.event_masque
{
	background-color:#FFF68F; 
}

#plus-option label
{
	display:inline-block;
	width:220px; 
	text-align:center;
}

#plus-option
{
	background:white;
	padding:5px;
	width:
}

table tr td:nth-child(7)
{
	text-align:right;
}
