
body
{
	/* Couleur du fond */
	background-color:#FFFFFF;
}

/*
	Style de la barre de sépération 
*/

#liste_evenement hr
{
	color:#aba8a8;
	background-color:#aba8a8;
}
/*
	Style de la date en haut  
*/

#ladate
{
}
/*
	Style du bloc contenant le formulaire de filtrage  
*/
#filtre
{
	background-color: #9e010c;
}
/*
	Style des bloc de pagination (couleur du fond et du text )
*/
.pagination
{


	background-color: #FFC830;

	font-weight:bold;
}
/*
	Style des liens de pagination 
*/
.pagination a
{
	color: #000000;  
}

/*
	Style du lien de pagination actuelle 
*/
.pagination .actif
{

	text-decoration:none;
}

/*
	Style au survole des liens de paginations
*/

.pagination .inactif:hover
{
	color: #ffffff;
}
/*
	Style des liens présent dans les evenements. 
*/
#liste_evenement a
{
	color: #e4ac16;
}
/*
	Style au survole des liens présents dans les évenements.
*/
#liste_evenement a:hover
{
	color: #000000;
}
/*
	Style des liens présent dans le bandeau titre des evenements
*/
.event_date a
{
	font-weight:bold;
	
}

.event_date
{
	color: #9e010c;
}

/*
	Style des contacts 
*/
.event_contact 
{
	color: #9e010c;	
}
/*
	Style du bloc du bas avec les annonces 
*/
#annonce
{
	background-color: #f1b718;
}
