
body
{
	background-color:#ffffff;
}

#liste_evenement hr
{
	color:#000;
	background-color:#aba8a8;
	height:1px;
	border:none;
}

.symbole

{

	margin: 2px;
}

#ladate
{
	color: #666;
	font-weight: bold;
}

#filtre
{
	background-color:#efefef;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
}

.pagination
{
	background-color:#efefef;
	color: #000000;  
	font-weight:bold;
}

.pagination a
{
	color: #0161b0;
}

.pagination .actif
{

	text-decoration:none;
}

.pagination .inactif:hover
{
	color: #000000;  

}

#liste_evenement a
{
	color:#360;
}

#liste_evenement a:hover
{
	color:#000000;
}

.event_date a
{
	font-weight:bold;
}

.event_contact 
{
	color:#0161b0;
}
