
body
{
}

/*
	Style de la barre de sépération 
*/

#liste_evenement hr
{
	color:#000000;
	background-color:#7a7452;
}
/*
	Style de la date en haut  
*/

#ladate
{
	color: #7a7452;
}
/*
	Style du bloc contenant le formulaire de filtrage  
*/
#filtre
{
	background-color: #7a7452;
}
/*
	Style des bloc de pagination (couleur du fond et du text )
*/
.pagination
{

	color:ffffff;
	background-color: #7a7452;
	font-weight:bold;
}
/*
	Style des liens de pagination 
*/
.pagination a
{
	color: #000000;  
}

/*
	Style du lien de pagination actuelle 
*/
.pagination .actif
{

	text-decoration:none;
}

/*
	Style au survole des liens de paginations
*/

.pagination .inactif:hover
{
	color: #00ADE8;
}
/*
	Style des liens présent dans les evenements. 
*/
#liste_evenement a
{
	color: #000000;
}
/*
	Style au survole des liens présents dans les évenements.
*/
#liste_evenement a:hover
{
	color: #333333;
}
/*
	Style des liens présent dans le bandeau titre des evenements
*/
.event_date a
{
	font-weight:bold;
	
}

.event_date
{
	color: #5fa34d;
}

/*
	Style des contacts 
*/
.event_contact 
{
	color: #555555;
}
/*
	Style du bloc du bas avec les annonces 
*/
#annonce
{
	background-color: #7a7452;
}
