
body
{
	background-color: #c8b398;	/* Couleur du fond */

}

/*
	Style de la barre de sépération 
*/

#liste_evenement hr
{
	color:#aba8a8;
	background-color:#aba8a8;
}
/*
	Style de la date en haut  
*/

#ladate
{
	color: #000000;
}
/*
	Style du bloc contenant le formulaire de filtrage  
*/
#filtre
{
	background-color: #cc7e3c;
}
/*
	Style des bloc de pagination (couleur du fond et du text )
*/
.pagination
{

	color:white;
	background-color: #999999;

	font-weight:bold;
}
/*
	Style des liens de pagination 
*/
.pagination a
{
	color: #ffffff;  
}

/*
	Style du lien de pagination actuelle 
*/
.pagination .actif
{

	text-decoration:none;
}

/*
	Style au survole des liens de paginations
*/

.pagination .inactif:hover
{
	color: #000000;  

}
/*
	Style des liens présent dans les evenements. 
*/
#liste_evenement a
{
	color: #402915;
}
/*
	Style au survole des liens présents dans les évenements.
*/
#liste_evenement a:hover
{
	color:#000000;
}
/*
	Style des liens présent dans le bandeau titre des evenements
*/
.event_date a
{
	font-weight:bold;
}

.event_date
{
	color: #990000;	
}
/*
	Style des contacts 
*/
.event_contact 
{
	color: #990000;
}
/*
	Style du bloc du bas avec les annonces 
*/
#annonce
{
	background-color: #cc7e3c;
}
