
body
{
	/* Couleur du fond */
	background-color:#FFFFFF;
}

/*
	Style de la barre de sépération 
*/

#liste_evenement hr
{
	
	color:#aba8a8;
	background-color:#aba8a8;
}
/*
	Style de la barre de la date eu haut  
*/

#ladate
{
	color: #5b9331;
}
/*
	Style du bloc contenant le formulaire de filtrage  
*/
#filtre
{
	background-color: #e8eedc;
}
/*
	Style des bloc de pagination (couleur du fond et du text )
*/
.pagination
{
	color:white;
	background-color: #5C9216;

	font-weight:bold;
}
/*
	Style des liens de pagination 
*/
.pagination a
{
	
	color:white;
}

/*
	Style du lien de pagination actuelle 
*/
.pagination .actif
{

	text-decoration:none;
}

/*
	Style au survole des liens de paginations
*/

.pagination .inactif:hover
{
	color: #000000;  

}
/*
	Style des liens présent dans les evenements. 
*/
#liste_evenement a
{
	color: #81bd2f;
}
/*
	Style au survole des liens présents dans les évenements.
*/
#liste_evenement a:hover
{
	color: #5c9216;
}
/*
	Style des liens présent dans le bandeau titre des evenements
*/
.event_date a
{
	font-weight:bold;
}
/*
	Style des contacts 
*/
.event_contact 
{
	color: #3f506a;
}
/*
	Style du bloc du bas avec les annonces 
*/
#annonce
{
	text-align:center;
	background-color: #e8eedc;
	padding:5px;
}

#annonce img
{
	border:none;
}
