
body
{
	/* Couleur du fond */
	background-color: #f0fffc;
}

/*
	Style de la barre de sépération 
*/

#liste_evenement hr
{
	
	color:#aba8a8;
	background-color:#aba8a8;
}
/*
	Style de la barre de la date eu haut  
*/

#ladate
{
}
/*
	Style du bloc contenant le formulaire de filtrage  
*/
#filtre
{
	background-color: #a9ff9e;
}
/*
	Style des bloc de pagination (couleur du fond et du text )
*/
.pagination
{
	color:#000000;
	background-color: #A9FF9E;
	font-weight:bold;
}
/*
	Style des liens de pagination 
*/
.pagination a
{
	
	color:black;
}

/*
	Style du lien de pagination actuelle 
*/
.pagination .actif
{

	text-decoration:none;
}

/*
	Style au survole des liens de paginations
*/

.pagination .inactif:hover
{
	color: #000000;  

}
/*
	Style des liens présent dans les evenements. 
*/
#liste_evenement a
{
	color: #f86fe3;
}
/*
	Style au survole des liens présents dans les évenements.
*/
#liste_evenement a:hover
{
	color:#000000;
}
/*
	Style des liens présent dans le bandeau titre des evenements
*/
.event_date a
{
	font-weight:bold;
}
/*
	Style des contacts 
*/
.event_contact 
{
}
/*
	Style du bloc du bas avec les annonces 
*/
#annonce
{
	text-align:center;
	padding:5px;
	background-color: #a9ff9e;
}

#annonce a
{
	color:black;
	text-decoration:none;
}

#annonce img
{
	border:none;
}
