
body
{
	/* Couleur du fond */
	background-color:#FEFEFE;
}

/*
	Style de la barre de sépération 
*/

#liste_evenement hr
{
	color:#000000;
	background-color:#2FAA13;
}
/*
	Style de la date en haut  
*/

#ladate
{
	color: #000000;
}
/*
	Style du bloc contenant le formulaire de filtrage  
*/
#filtre
{
	background-color: #2FAA13;
}
/*
	Style des bloc de pagination (couleur du fond et du text )
*/
.pagination
{

	color:000000;
	background-color: #5DBC3A;
	font-weight:bold;
}
/*
	Style des liens de pagination 
*/
.pagination a
{
	color: #000000;  
}

/*
	Style du lien de pagination actuelle 
*/
.pagination .actif
{

	text-decoration:none;
}

/*
	Style au survole des liens de paginations
*/

.pagination .inactif:hover
{
	color: #FFFFFF;
}
/*
	Style des liens présent dans les evenements. 
*/
#liste_evenement a
{
	color: #333333;
}
/*
	Style au survole des liens présents dans les évenements.
*/
#liste_evenement a:hover
{
	color: #bd0028;
}
/*
	Style des liens présent dans le bandeau titre des evenements
*/
.event_date a
{
	font-weight:bold;
	
}

.event_date
{
	color: #258E0D;
}

/*
	Style des contacts 
*/
.event_contact 
{
	color: #000000;
}
/*
	Style du bloc du bas avec les annonces 
*/
#annonce
{
	background-color: #2FAA13;
}
