img
{
	border:none;
}

.affichette a
{
	color:black;
	font-weight:bold;
}

#une_affichette
{
	width: 90%;
	border: 1px solid white;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
	height: 300px;	
}

#une_affichette img
{
	float:left;
	margin-right:10px;
}

.les_affichettes
{
	text-align: center;
	width: 170px;
	padding: 5px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-repeat: repeat;
	background-color: #FFF;
}

.texte_affichettes
{
	margin: 0px;
	text-align: center;
	padding: 5px;
}

.pagination2
{
	width:1000px;
	display:inline;
	float:left; 
	margin-top:0px;
	padding-top:2px;
	margin-bottom:0px;
	padding-bottom: 0px;
	height:24px;
	background-color:#e9ca9c;
	color : #91714a;
	line-height: 18px;
}

.pagination2 a
{
	color : #91714a;	
	border: 1px solid #91714a;
	padding:1px 2px;
}

.pagination2 a:hover
{
	background:white;
}

.fixe
{
	width:100%;
	margin:auto;
}

/* ##########################  taille tablette portrait ################ */

@media (min-width: 768px) {
		.fixe
{
	width:768px;
	margin:auto;

}

/* ##########################   taille tablette paysage ou 1024 ################ */

@media (min-width: 992px) {
	.fixe
{
	width:992px;
	margin:auto;
}


}

/* ##########################  taille écran PC ################ */

@media (min-width: 1200px) {
	
	.fixe
{
	width: 1000px;
	padding-left: 50px;
}
	

}